.section-gerenciar-form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-submit {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-button-container {
    display: flex;
    justify-content: center
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
}

textarea {
    resize: vertical;
}

input[type="file"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    margin-right: 10px;
    border: thin solid grey;
    border-radius: 3px;
}

input[type="file"]::file-selector-button:hover {
    cursor: pointer;
}

.form-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #0056b3;
}